<table id="template" style="visibility:hidden">
    <tr>
        <td class="text-left col-sm-4">
            <input type="hidden" name="PopratniSadrzaji.Index" value="--sifra--" />
            <input type="hidden" name="PopratniSadrzaji[--sifra--].IdPopratnogSadrzaja" value="--sifra--" />
            <input type="hidden" name="PopratniSadrzaji[--sifra--].NazivPopratnogSadrzaja" value="--naziv--" />
            --naziv--
        </td>
        <td class="text-left col-sm-1">
            <input name="PopratniSadrzaji[--sifra--].VrstaSadrzajaId" type = "hidden" class="form-control" value="--vrstaSadrzajaId--" />
            --vrsta--
        </td>
        <td class="text-left col-sm-1">
            <input name="PopratniSadrzaji[--sifra--].RadnimDanomOd" class="form-control" value="--radnimDanomOd--" />
        </td>
        <td class="text-left col-sm-1">
            <input name="PopratniSadrzaji[--sifra--].RadninDanomDo" class="form-control" value="--radninDanomDo--" />
        </td>
        <td class="text-left col-sm-1">
            <input name="PopratniSadrzaji[--sifra--].VikendimaDo" class="form-control" value="--vikendimaDo--" />
        </td>
        <td class="text-left col-sm-1">
            <input name="PopratniSadrzaji[--sifra--].VikendimaOd" class="form-control" value="--vikendimaOd--" />
        </td>
        <td>
            <button class="btn btn-sm btn-danger deleterow" title="Izbaci"><i class="fas fa-minus"></i></button>
        </td>
    </tr>
</table>