@model KategorijaVozila

@{
    ViewBag.Title = "Nova kategorija vozila";
}

<h2>Unos nove kategorije vozila</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="Naziv" class="form-label"></label>
        <input asp-for="Naziv" class="form-control" />
        <div class="form-text"><span asp-validation-for="Naziv" class="text-danger"></span></div>
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-default">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}