<table id="template" style="visibility:hidden">
    <tr>
        <td class="text-left col-sm-4">
            <input type="hidden" name="OdrzavanjeObjekata.Index" value="--sifra--" />
            <input type="hidden" name="OdrzavanjeObjekata[--sifra--].Id" value="--sifra--" />
            <input  name="OdrzavanjeObjekata[--sifra--].ImeFirme" value="--naziv--" />
            @*
            <input type="hidden" name="OdrzavanjeObjekata[--sifra--].VrstaId" value="--vrsta--" />
            <input type="hidden" name="OdrzavanjeObjekata[--sifra--].CestovniObjektId" value="--cestovniObjekt--"/> 
            *@
        </td>
        <td class="text-left col-sm-1">
            <input name="OdrzavanjeObjekata[--sifra--].VrstaId" type="hidden" class="form-control" value="--vrstaId--" />
            --vrsta--
        </td>
        <td class="text-left col-sm-1">
            <input name="OdrzavanjeObjekata[--sifra--].RadnimDanomOd" class="form-control" value="--radnimDanomOd--" />
        </td>
        <td class="text-left col-sm-1">
            <input name="OdrzavanjeObjekata[--sifra--].RadnimDanomDo" class="form-control" value="--radnimDanomDo--" />
        </td>
        <td class="text-left col-sm-1">
            <input name="OdrzavanjeObjekata[--sifra--].VikendimaOd" class="form-control" value="--vikendimaOd--" />
        </td>
        <td class="text-left col-sm-1">
            <input name="OdrzavanjeObjekata[--sifra--].VikendimaDo" class="form-control" value="--vikendimaDo--" />
        </td>
        <td class="text-left col-sm-1">
            <input name="OdrzavanjeObjekata[--sifra--].BrojLjudi" class="form-control"  value="--brojLjudi--" />
        </td>
        <td class="text-left col-sm-1">
            <input name="OdrzavanjeObjekata[--sifra--].Cijena" class="form-control" value="--cijena--" />
        </td>
        <td class="text-left col-sm-1">
            <input name="OdrzavanjeObjekata[--sifra--].PredvidenoDana" class="form-control" value="--predvidenoDana--" />
        </td>
        <td>
            <button class="btn btn-sm btn-danger deleterow" title="Izbaci"><i class="fas fa-minus"></i></button>
        </td>
    </tr>
</table>