<table id="template" style="visibility:hidden">
    <tr>

        <td class="text-center col-sm-1">
            <input name="Dionice[--id--].Naziv" class="form-control" value="--naziv--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Dionice[--id--].UlaznaPostaja" class="form-control" value="--ulaznaPostaja--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Dionice{--id--].IzlaznaPostaja" class="form-control" value="--izlaznaPostaja--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Dionice[--id--].Autocesta" class="form-control" value="-autocesta--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Dionice[--id--].BrojTraka" class="form-control" value="--brojTraka--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Dionice[--id--].ZaustavaTraka" class="form-control" value="--zaustavnaTraka--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Dionice[--id--].DozvolaTeretnimVozilima" class="form-control" value="--dozvolaTeretnimVozilima--"/>
        </td>
        <td class="text-center col-sm-1">
            <input name="Dionice[--id--].OtvorenZaProlaz" class="form-control" value="--otvorenZaProlaz--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Dionice[--id--].GodinaOtvaranja" class="form-control" value="--godinaOtvaranja--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Dionice[--id--].Duljina" class="form-control" value="--duljina--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Dionice[--id--].OgranicenjeBrzine" class="form-control" value="--ogranicenjeBrzine--" />
        </td>
    </tr>
</table>