@model RPPP_WebApp.Models.CestovniObjekt

@{
    ViewBag.Title = "Novi cestovni objekt";
}

<h2>Unos novog cestovnog objekta</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">Naziv</label>
        <input asp-for="Naziv" class="form-control" />
        <div class="form-text"><span asp-validation-for="Naziv" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Dionica</label>
        <select class="form-control" asp-for="DionicaId" asp-items="ViewBag.Dionice">
            <option disabled selected value="">Odaberite dionicu</option>
        </select>
        <div class="form-text"><span asp-validation-for="DionicaId" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Tip objekta</label>
        <input asp-for="TipObjekta" class="form-control" />
        <div class="form-text"><span asp-validation-for="TipObjekta" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Ograničenje brzine</label>
        <input asp-for="OgranicenjeBrzine" class="form-control" />
        <div class="form-text"><span asp-validation-for="OgranicenjeBrzine" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Broj prometnih traka</label>
        <input asp-for="BrojPrometnihTraka" class="form-control" />
        <div class="form-text"><span asp-validation-for="BrojPrometnihTraka" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Duljina objekta</label>
        <input asp-for="DuljinaObjekta" class="form-control" />
        <div class="form-text"><span asp-validation-for="DuljinaObjekta" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Dozvola teretnim vozilima</label>
        <select asp-for="DozvolaTeretnimVozilima" class="dropdown">
            <option value="">Ne znam</option>
            <option value="true">Da</option>
            <option value="false">Ne</option>
        </select>
        <div class="form-text"><span asp-validation-for="DozvolaTeretnimVozilima" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Zaustavni trak</label>
        <select asp-for="ZaustavniTrak" class="dropdown">
            <option value="true">Da</option>
            <option value="false">Ne</option>
        </select>
        <div class="form-text"><span asp-validation-for="ZaustavniTrak" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Zanimljivost</label>
        <input asp-for="Zanimljivost" class="form-control" />
        <div class="form-text"><span asp-validation-for="Zanimljivost" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Godina izgradnje</label>
        <input asp-for="GodinaIzgradnje" class="form-control" />
        <div class="form-text"><span asp-validation-for="GodinaIzgradnje" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Pješačka staza</label>
        <select asp-for="PjesackaStaza" class="dropdown">
            <option value="">Ne znam</option>
            <option value="true">Da</option>
            <option value="false">Ne</option>
        </select>
        <div class="form-text"><span asp-validation-for="PjesackaStaza" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Naplata prijelaza</label>
        <select asp-for="NaplataPrijelaza" class="dropdown">
            <option value="">Ne znam</option>
            <option value="true">Da</option>
            <option value="false">Ne</option>
        </select>
        <div class="form-text"><span asp-validation-for="NaplataPrijelaza" class="text-danger"></span></div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>